## NOTE: Core deep learning stack (PyTorch + CUDA libs + NCCL + cuDNN + Triton)
## is provided by the base image: nvcr.io/nvidia/pytorch:25.08-py3
## Do NOT pin torch/torchvision/triton or individual nvidia-* CUDA wheels here
## unless you intentionally override the image's versions.

certifi==2025.8.3
charset-normalizer==3.4.3
contourpy==1.3.2
cycler==0.12.1
filelock==3.13.1
fonttools==4.60.0
fsspec==2024.6.1
hf-xet==1.1.10
huggingface-hub==0.35.0
idna==3.10
Jinja2==3.1.4
joblib==1.5.2
kiwisolver==1.4.9
MarkupSafe==2.1.5
matplotlib==3.10.6
mpmath==1.3.0
networkx==3.3
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pandas==2.3.2
pillow==11.0.0
pip==25.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2025.9.18
requests==2.32.5
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
setuptools==78.1.1
six==1.17.0
sympy==1.13.3
threadpoolctl==3.6.0
tokenizers==0.22.1
tqdm==4.67.1
transformers==4.56.2
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.5.0
wheel==0.45.1
